@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif;
}

#description
{
    font-size: 17px;
    word-spacing: 10px;

}


#destitle
{
    font-size: 37px;
    color: darkorange;
    text-transform: uppercase;
}
.divider
{
    height: 2px;
    background-color: #00c4cc;


}
#div3
{
    background-color: #f1f1f1;
    padding-bottom: 30px;
    margin-top: 50px;
}

#lol
{
    margin-top: 40px;
}

#footer
{
    background-color:  #00c4cc;

}

#footercont
{
    padding-top: 50px
}

#input
{
   border-radius: 30px;
}

#logowala
{

            <svg viewBox="0 0 711 311.25" preserveAspectRatio="xMidYMid meet" id="dgdddghh"><defs id="SvgjsDefs1001"></defs><g id="SvgjsG1007" featurekey="root" fill="#82b1e2" transform="matrix(1,0,0,1,NaN,NaN)"></g><g id="SvgjsG1008" featurekey="container1" fill="#00c4cc" transform="matrix(2.0195983525176855,0,0,2.0195983525176855,250.0000125914803,0.000012591480290394268)"><path xmlns="http://www.w3.org/2000/svg" d="M52.3 104.6a52.3 52.3 0 1 1 52.3-52.3 52.4 52.4 0 0 1-52.3 52.3zm0-102.3a50 50 0 1 0 50 50 50 50 0 0 0-50-50z" fill="#00c4cc"></path></g><g id="SvgjsG1009" featurekey="symbol1" fill="#00c4cc" transform="matrix(1.863759093276521,0,0,1.863759093276521,262.9005696983953,11.596403610659479)"><g xmlns="http://www.w3.org/2000/svg"><g><polygon points="54.644,56.782 35.043,56.782 29.789,76.381 49.394,76.381   "></polygon></g><g><polygon points="29.789,76.381 16.071,76.381 12.394,90.102 26.115,90.102   "></polygon></g><g><polygon points="72.04,43.063 58.319,43.063 54.644,56.782 68.363,56.782   "></polygon></g><g><polygon points="60.892,33.458 51.288,33.458 48.716,43.063 58.319,43.063   "></polygon></g><g><polygon points="78.988,17.134 69.384,17.134 66.81,26.739 76.416,26.739   "></polygon></g><g><polygon points="37.616,47.18 28.013,47.18 25.438,56.782 35.043,56.782   "></polygon></g><g><polygon points="87.511,10.411 80.79,10.411 78.988,17.134 85.71,17.134   "></polygon></g><g><polygon points="80.562,36.341 73.842,36.341 72.04,43.063 78.762,43.063   "></polygon></g><g><polygon points="53.089,26.735 46.37,26.735 44.565,33.458 51.288,33.458   "></polygon></g></g></g><g id="SvgjsG1010" featurekey="text1" fill="#f57c00 " transform="matrix(3.7675818973475117,0,0,3.7675818973475117,-6.254185374709495,209.42766686210842)"><path d="M2.56 24.3 q-0.38 0 -0.64 -0.26 t-0.26 -0.62 l0 -14.02 q0 -0.36 0.26 -0.62 t0.64 -0.26 q0.36 0 0.62 0.26 t0.26 0.62 l0 14.02 q0 0.36 -0.26 0.62 t-0.62 0.26 z M23.924 24.3 q-1.66 0 -3.11 -0.63 t-2.53 -1.71 t-1.71 -2.53 t-0.63 -3.11 q0 -1.64 0.63 -3.07 t1.71 -2.48 t2.53 -1.65 t3.11 -0.6 q1.6 0 3.04 0.59 t2.58 1.73 q0.28 0.28 0.28 0.64 t-0.28 0.62 q-0.26 0.26 -0.62 0.26 t-0.62 -0.26 q-0.9 -0.9 -2.02 -1.36 t-2.36 -0.46 q-1.3 0 -2.43 0.47 t-1.97 1.28 t-1.32 1.91 t-0.48 2.38 t0.49 2.41 t1.33 1.97 t1.97 1.33 t2.41 0.49 q1.24 0 2.36 -0.46 t2.02 -1.34 q0.26 -0.28 0.62 -0.28 t0.62 0.28 q0.28 0.26 0.28 0.62 t-0.28 0.62 q-1.14 1.14 -2.58 1.74 t-3.04 0.6 z M50.108000000000004 24.3 l-6.88 0 q-0.38 0 -0.64 -0.26 t-0.26 -0.62 l0 -0.04 l0 -0.04 l0 -13.94 q0 -0.36 0.26 -0.62 t0.64 -0.26 l6.88 0 q0.38 0 0.64 0.26 t0.26 0.62 q0 0.38 -0.26 0.63 t-0.64 0.25 l-6 0 l0 5.1 l5.06 0 q0.36 0 0.62 0.25 t0.26 0.63 q0 0.36 -0.26 0.62 t-0.62 0.26 l-5.06 0 l0 5.38 l6 0 q0.38 0 0.64 0.26 t0.26 0.64 q0 0.36 -0.26 0.62 t-0.64 0.26 z M70.39200000000001 10.28 l-3.24 0 l0 13.14 q0 0.36 -0.26 0.62 t-0.62 0.26 q-0.38 0 -0.64 -0.26 t-0.26 -0.62 l0 -13.14 l-3.24 0 q-0.36 0 -0.62 -0.25 t-0.26 -0.63 q0 -0.36 0.26 -0.62 t0.62 -0.26 l8.26 0 q0.36 0 0.62 0.26 t0.26 0.62 q0 0.38 -0.26 0.63 t-0.62 0.25 z M90.456 24.3 l-6.88 0 q-0.38 0 -0.64 -0.26 t-0.26 -0.62 l0 -0.04 l0 -0.04 l0 -13.94 q0 -0.36 0.26 -0.62 t0.64 -0.26 l6.88 0 q0.38 0 0.64 0.26 t0.26 0.62 q0 0.38 -0.26 0.63 t-0.64 0.25 l-6 0 l0 5.1 l5.06 0 q0.36 0 0.62 0.25 t0.26 0.63 q0 0.36 -0.26 0.62 t-0.62 0.26 l-5.06 0 l0 5.38 l6 0 q0.38 0 0.64 0.26 t0.26 0.64 q0 0.36 -0.26 0.62 t-0.64 0.26 z M110.74000000000001 10.28 l-3.24 0 l0 13.14 q0 0.36 -0.26 0.62 t-0.62 0.26 q-0.38 0 -0.64 -0.26 t-0.26 -0.62 l0 -13.14 l-3.24 0 q-0.36 0 -0.62 -0.25 t-0.26 -0.63 q0 -0.36 0.26 -0.62 t0.62 -0.26 l8.26 0 q0.36 0 0.62 0.26 t0.26 0.62 q0 0.38 -0.26 0.63 t-0.62 0.25 z M129.604 20.04 l-7.02 0 q-0.36 0 -0.62 -0.26 t-0.26 -0.64 q0 -0.36 0.26 -0.62 t0.62 -0.26 l7.02 0 q0.36 0 0.62 0.26 t0.26 0.62 q0 0.38 -0.26 0.64 t-0.62 0.26 z M143.008 24.3 q-0.38 0 -0.64 -0.26 t-0.26 -0.62 l0 -14.02 q0 -0.36 0.26 -0.62 t0.64 -0.26 q0.36 0 0.62 0.26 t0.26 0.62 l0 14.02 q0 0.36 -0.26 0.62 t-0.62 0.26 z M160.81199999999998 24.3 q-0.92 0 -1.72 -0.35 t-1.4 -0.95 t-0.95 -1.4 t-0.35 -1.72 q0 -0.38 0.26 -0.64 t0.64 -0.26 q0.36 0 0.62 0.26 t0.26 0.64 q0 0.54 0.21 1.02 t0.57 0.84 t0.84 0.57 t1.02 0.21 t1.03 -0.21 t0.85 -0.57 t0.57 -0.84 t0.21 -1.02 q0 -0.66 -0.26 -1.09 t-0.72 -0.75 q-0.22 -0.16 -0.5 -0.29 t-0.58 -0.27 q-0.3 -0.12 -0.62 -0.24 t-0.66 -0.24 q-0.66 -0.24 -1.33 -0.54 t-1.2 -0.75 t-0.87 -1.12 t-0.34 -1.65 q0 -0.92 0.35 -1.72 t0.95 -1.4 t1.4 -0.95 t1.72 -0.35 t1.73 0.35 t1.41 0.95 t0.95 1.4 t0.35 1.72 q0 0.36 -0.26 0.62 t-0.64 0.26 q-0.36 0 -0.62 -0.26 t-0.26 -0.62 q0 -0.54 -0.21 -1.03 t-0.57 -0.85 t-0.85 -0.57 t-1.03 -0.21 t-1.02 0.21 t-0.84 0.57 t-0.57 0.85 t-0.21 1.03 q0 0.6 0.25 1 t0.71 0.7 q0.48 0.3 1.08 0.54 l0.64 0.24 t0.66 0.24 q0.66 0.24 1.33 0.55 t1.2 0.78 t0.87 1.17 t0.34 1.72 q0 0.92 -0.35 1.72 t-0.95 1.4 t-1.41 0.95 t-1.73 0.35 z M189.716 24.22 q-0.16 0.08 -0.34 0.08 q-0.26 0 -0.49 -0.14 t-0.33 -0.4 l-1.58 -3.72 l-7.26 0 l-1.58 3.72 q-0.14 0.34 -0.48 0.48 t-0.68 -0.02 q-0.34 -0.14 -0.48 -0.48 t0.02 -0.68 l1.8 -4.26 l4.22 -9.88 q0.1 -0.26 0.32 -0.4 t0.5 -0.14 q0.26 0 0.48 0.14 t0.32 0.4 q1.52 3.56 3.02 7.07 t3.02 7.07 q0.14 0.34 0 0.68 t-0.48 0.48 z M183.356 11.54 l-2.88 6.72 l5.74 0 z"></path></g></svg>
}

