@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif;
}

#description
{
    font-size: 17px;
    word-spacing: 10px;

}


#destitle
{
    font-size: 37px;
    color: darkorange;
    text-transform: uppercase;
}
.divider
{
    height: 2px;
    background-color: #00c4cc;


}
#div3
{
    background-color: #f1f1f1;
    padding-bottom: 30px;
    margin-top: 50px;
}

#lol
{
    margin-top: 40px;
}

#footer
{
    background-color:  #00c4cc;

}

#footercont
{
    padding-top: 50px
}

#input
{
   border-radius: 30px;
}
